body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #81BFDA;
}

.header {
  text-align: center;
  padding: 40px 20px;
  background-color: #B1F0F7;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.nav {
  background-color: #FADA7A;
}

.nav-link {
  color: black;
}


.photo-album {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
  max-width: 1200px;
  margin: auto; 
  background-color: #F5F0CD ;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: center; 
  align-items: center; 
}


.photo-album img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 8px; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.photo-album img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.lightbox {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); 
  z-index: 1000;
  align-items: center; 
  justify-content: center; 
}

.lightbox img {
  max-width: 90%; 
  max-height: 90%; 
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2); 
  animation: fadeIn 0.3s ease-in-out;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
